#Header{
    margin-top: 10px;
    font-family: Gill Sans;
}
#head_li {
    font-size: 20px;
    font-family: Helvetica;
}

#logo{
    width:25px;
    height: 25px;
}
.hgt{
    height: 50%;
}
.panel img{
    height:200px;
    width:200px;
    margin-left: 70px;
    margin-top: 10px;
}
#features{
    text-align: center;
}
.panel-heading{
    text-align:centre;
}
#feature_description{
    text-align: center;
}
#features img{
   margin: 0 0 20px;
}
.panel > .panel-heading {
    background-image: none;
    background-color: red;
    color: white;

}
